@import url(./fonts.css);

:root {
    --transition-text-slow: 0.5s all ease-in-out;
    --transition-text-fast: 0.2s all ease-in-out;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
}

::selection {
    color: gold;
}
::-webkit-scrollbar {
    /*  */
}

body {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background: url("https://wallpaperaccess.com/full/869923.gif") no-repeat;
    background-size: 100% 100%;
    font-family: Ranger;
    z-index: -10;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    /* background-color: aquamarine; */
}

.container header {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container header .menuBox {
    /* width: 150px; */
}

.container header .menuBox ul {
    display: block;
}

.container header .menuBox li {
    display: block;
    margin: 10px 0;
    text-align: center;
    /* background-color: aqua; */
}

.container header .menuBox li a {
    display: block;
    position: relative;
    font-size: 1.5rem;
    font-family: Ranger;
    text-transform: uppercase;
    background: -webkit-linear-gradient(90deg, #ff53cb, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    transition: var(--transition-text-fast);
}

.container header .menuBox li a::before {
    display: none;
    position: absolute;
    content: '';
    top: 50%;
    left: -18px;
    width: 6px;
    height: 6px;
    transform: translate(0, -50%);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 0 10px 5px rgb(0, 204, 255);
    animation: light_box infinite 1s;
}

@keyframes light_box {
    100% {
        background-color: rgb(255, 0, 0);
        box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0);
    }
}

.container header .menuBox li a:hover::before {
    display: block;
}

.container header .menuBox li a:hover {
    transform: translateX(15px);
    text-transform: lowercase;
    text-shadow: 0 0 20px  rgb(0, 238, 255);
    /* box-shadow: 50px 10px 0 0 rgb(255, 255, 255); */
    border-radius: 10px;

}

/* .container header .menuBox li a:hover{
    transform: rotateZ(100px);
    text-transform: lowercase;
} */

.container .main_page {
    width: 100%;
    height: 100%;
}
.container .main_page .text_header{
    width: 100%;
}
.container .main_page .text_header .wrapper_content{
    width: 100%;
}
.container .main_page .text_header .wrapper_content .welcome{
    text-align: center;
    font-size: 7em;
    font-family: Hacker;
    background: url("https://th.bing.com/th/id/R.bc5551ac237a9ef4d8e9575662f2e106?rik=WtgaoqXGKXJ5RA&pid=ImgRaw&r=0") center repeat;
    background-size: cover;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.container .main_page .text_header .wrapper_content p{
    text-align: center;
    color: whitesmoke;
    font-size: 1em;
    font-family: Horizon;
    transform: translateY(-8px);
    background: url("https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExNzZsaWwwMnJqNmZ2ejFtdjl6d2gyb3ZmeHlueDE5dHdvcm8xYW12eCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/xTiTnqw2wboRApyFFK/giphy.gif") center repeat;
    background-size: cover;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    padding: 1em 3em;
    /* background-color: rgb(7, 15, 20); */
    background: linear-gradient(0deg, rgb(7, 15, 20) 60%, rgba(0, 0, 0, 0));
}
footer section .wrap_content {
    display: flex;
    gap: 2em;
}
footer section .wrap_content .logo_wrap .logo_link_access {
    width: 100px;
    height: 100px;
    background: url("https://static.vecteezy.com/system/resources/previews/004/463/621/non_2x/abstract-colorful-ornament-doodle-art-tiger-illustration-cartoon-concept-suitable-for-wallpaper-clip-art-background-card-book-illustration-t-shirt-design-sticker-cover-etc-vector.jpg") no-repeat;
    background-size: 100% 100%;
    border-radius: 1rem;
    border: 3px solid white;
}
footer section .wrap_content .link_list {
    margin-top: .8rem;
    display: flex;
}

footer section .wrap_content .link_list ul li{
    display: block;
    list-style-type: circle;
    margin-bottom: .5rem;
    margin-right: 2rem;
}
footer section .wrap_content .link_list ul li a{
    display: block;
    color: white;
    font-size: 1.1rem;
    opacity: 90%;
    transition: var(--transition-text-fast);
}
footer section .wrap_content .link_list ul li a:hover{
    text-decoration: underline;
    transform: translateX(10px);
}

/* ---------- RESPORNSIVE ---------- */

@media only screen and (max-width: 900px) {
    body {
        width: 100%;
        height: 100vh;
        background: url("https://wallpaperaccess.com/full/869923.gif") no-repeat center;
        background-size: cover;
        font-family: Ranger;
    }

    .container header {
        top: 50%;
        left: 40%;
        transform: translate(0, -50%);
    }
}

@media only screen and (max-width: 580px) {
    .container .main_page .text_header{
        margin-top: 3em;
    }
}